.content{
  align-items: center;
  justify-content: center;
  display: flex;
}

mat-card{
  width: 90%;
  align-items: center;
  justify-content: center;
  top: 30px;
}

.item-form-field{
  width: 100%;
}

mat-card-title{
  color: #2f626b;
}

.btn-submit {
  font-size: 0.875rem;
  border-radius: 20px;
  float: right;
  margin-top: 2px;
  padding:0 20px;
  height: 40px;
  background-color: #c09456;
  border: 1px solid #c09456;
  color: #fff;
  cursor: pointer;
}

.btn-create:hover{
  background-color: #85663b;
  cursor: pointer;
}

:host ::ng-deep .upload-list-inline .ant-upload-list-item {
  float: left;
  width: 200px;
  margin-right: 8px;
}
:host ::ng-deep .upload-list-inline [class*='-upload-list-rtl'] .ant-upload-list-item {
  float: right;
}
:host ::ng-deep .upload-list-inline .ant-upload-animate-enter {
  animation-name: uploadAnimateInlineIn;
}
:host ::ng-deep .upload-list-inline .ant-upload-animate-leave {
  animation-name: uploadAnimateInlineOut;
}

.count-div{
  font-size: 11px;
  color: rgba(128, 128, 128, 0.562);
}
