h1{
  color: #732C7B;
  font-weight: 400;
}

nz-list-item{
  border: 1px solid black;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

nz-list-item:hover{
  background-color: #f1efecde
}

ant-list-item-meta-description{
  color: #6144ff
}

i{
  vertical-align: 0;

}

a i{
  color: red;
}

/* IF CARD IS LINKED */
a[class*=card] {
  color: initial;
}
a[class*=card]:hover .title {
  color: #732C7B;
}


[class*=card-product] p {
  margin-bottom: 0;
}
[class*=card-product] .img-wrap {
  overflow: hidden;
  position: relative;
}
[class*=card-product] .img-wrap img {
  height: 100%;
  max-width: 100%;
  width: auto;
  padding: 10px;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
}

/* LARGE LIST STYLE PRODUCT ITEM */
.card-product-list {
  margin-bottom: 10px;
}
.card-product-list .img-wrap {
  height: 170px;
  border-radius: 0.37rem 0 0 0.37rem;
}
.card-product-list .info-main {
  padding: 1.5rem 1rem;
}
.card-product-list .info-aside {
  padding: 1.5rem 1rem;
  border-left: 1px solid #e4e4e4;
  height: 100%;
}

.card-sm .img-wrap {
  height: 120px;
}

.card-lg .img-wrap {
  height: 280px;
}

.img-wrap {
  text-align: center;
  display: block;
}
.img-wrap img {
  max-width: 100%;
}




.card .img-wrap {
  overflow: hidden;
}

.item-logo img {
  max-height: 65px;
}

.box img {
  max-width: 100%;
}

.btn-accept{
  background-color: #f8dc7b;
  color: #000;
  margin-right: 2px;
  border: 2px solid #f8dc7b;
}

.btn-reject{
  background-color: #fff;
  color: #c9a626;
  border: 2px solid #f7d55c;
}

.btn{
  border-radius: 0;
}

.card {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1000px;
  width: 95%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  border: transparent;
}
