.img-wrap {
  text-align: center;
  display: block;
}
.img-wrap img {
  max-width: 100%;
}

.price-wrap {
  text-align: right;
  letter-spacing: -0.7px;
  margin-bottom: 4px;
}

figure {
  margin-bottom: 0;
}

/* all clearfix */
article:after {
  display: block;
  clear: both;
  content: "";
}

/* --------------------- titles ---------------------- */

.title-page {
  color: #732c7b;
  font-weight: 400;
  text-align: center;
  padding-top: 10px;
}

h3 {
  color: #29159b;
  padding: 15px 0;
}

p:last-child {
  margin-bottom: 0;
}

/* ================= lists ================= */
[class*="list-"] li:after {
  visibility: hidden;
  display: block;
  content: "";
  overflow: hidden;
  height: 0;
  clear: both;
}

/* BASE STYLE FOR PRODUCT ITEM */
[class*="card-product"] a.title {
  color: #3721b3;
  display: block;
}
[class*="card-product"] a.title:hover {
  color: #5234e6;
}

[class*="card-product"] p {
  margin-bottom: 0;
}
[class*="card-product"] .img-wrap {
  overflow: hidden;
  position: relative;
}
[class*="card-product"] .img-wrap img {
  height: 100%;
  max-width: 100%;
  width: auto;
  padding: 5px;
  display: inline-block;
  -o-object-fit: cover;
  object-fit: cover;
}

/* GRID STYLE PRODUCT ITEM */
.card-product-grid {
  margin-bottom: 20px;
}
.card-product-grid .img-wrap {
  border-radius: 0.2rem 0.2rem 0 0;
  height: 220px;
}
.card-product-grid .info-wrap {
  overflow: hidden;
  padding: 18px 20px;
}

.card-product-grid .fix-height {
  height: 80px;
  overflow: hidden;
}
.card-product-grid .btn-overlay {
  transition: 0.5s;
  opacity: 0;
  left: 0;
  bottom: 0;
  color: #fff;
  width: 100%;
  padding: 5px 0;
  text-align: center;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
}
.card-product-grid:hover .btn-overlay {
  opacity: 1;
}
.card-product-grid:hover {
  box-shadow: 0 4px 18px rgba(44, 44, 44, 0.486);
  transition: 0.3s;
}

.card .img-wrap {
  overflow: hidden;
}

.price {
  font-weight: 800;
  color: #4f4f52;
  margin-bottom: 5px;
}

.icon-control {
  margin-top: 5px;
  float: right;
  font-size: 80%;
  color: #ebc12c;
}

.card-header .title {
  margin-bottom: 0;
  line-height: 1.8;
  color: #29159b;
  font-weight: 600;
}

.filter-group .card-header {
  border-bottom: 0;
  background-color: #fff;
}

.filter-group:last-child {
  border-bottom: 0;
}


/* ============== spacing ============== */
.padding-y {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-addCart {
  background-color: #fcd857;
  color: rgb(5, 5, 5);
}

.btn-addCart:hover {
  background-color: #fcd23df5;
}


nz-select {
  width: 100%;
}

nz-spin {
  display: inline-block;
  margin-right: 16px;
}

i {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.btn {
  border-radius: 0;
}


.card{
  border-radius:1rem;
}
