.btn-signup{
  background-color: #f8dc7b;
  color: rgb(14, 13, 13);
}

.card-header{
  background-color: #fff;
  border-bottom: 0;
}

.card-header:first-child{
  border-radius: 1rem;
}

.btn{
  border-radius: 0;
}

.card{
  border-radius: 1rem;
  border: transparent;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.671);
  min-height: 250px;
}

.card:hover{
  border: solid 1px #6144ff;
}


h1{
  color: #732C7B;
}
