<div class="container-fluid mt-70">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body cart">
          <div class="col-sm-12 empty-cart-cls text-center"> <img src="../../../assets/emptycart.png" width="300"
              height="300" class="img-fluid mb-4 mr-3">
            <h3><strong>Tu carro de compras está vacío.</strong></h3>
            <h4>Añade productos a tu carrito. </h4>
            <a class="btn btn-store cart-btn-transform m-3" routerLink="/inicio/productos/lista">Volver a la tienda</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
