<div class="container">
  <div class="card">
    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active">
              <img [src]="this.currentDisplayPic" /></div>
            <div *ngFor="let img of this.imagesList" class="tab-pane" [id]="'pic-' + img.id">
              <img [src]="mediaPath + img.imagen" /></div>

          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li (click)="changeCurrentDisplayPic(img.imagen)" *ngFor="let img of this.imagesList"><a [attr.data-bs-target]="'pic-' + img.id" data-toggle="tab">
              <img [src]="mediaPath + img.imagen" /></a></li>
          </ul>

        </div>
        <div class="details col-md-6">
          <h3 class="product-title">{{ this.currentProduct?.titulo }}</h3>
          <div class="available">
              <span class="availability" *ngIf="this.currentProduct?.disponible">Disponible</span>
          </div>
          <div class="available">
            <span class="quantity">{{ this.currentProduct?.cantidad }} unidades</span>

        </div>

          <h4 class="price"><span>{{ this.currentProduct?.precio }}</span> C</h4>
          <div class="action mb-4">
            <button class="add-to-cart btn btn-default" type="button" (click)="addToCart(this.currentProduct)">
              Agregar al carro <span class="fas fa-cart-plus"></span>
            </button>
          </div>
          <div>
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-description-tab" data-bs-toggle="tab" data-bs-target="#nav-description" type="button" role="tab" aria-controls="nav-description" aria-selected="true">Descripción</button>
                <button class="nav-link" id="nav-details-tab" data-bs-toggle="tab" data-bs-target="#nav-details" type="button" role="tab" aria-controls="nav-details" aria-selected="false">Detalles</button>
              </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
              <div class="tab-pane fade show active" id="nav-description" role="tabpanel" aria-labelledby="nav-description-tab">
                <p class="product-description">
                  {{ this.currentProduct?.descripcion }}
                </p>
              </div>
              <div class="tab-pane fade" id="nav-details" role="tabpanel" aria-labelledby="nav-details-tab">
                <p><strong>Dimensiones del producto:</strong> {{ this.currentProduct?.dimensiones}} pulgadas</p>
                <p><strong>Peso del producto:</strong> {{ this.currentProduct?.peso}} libras</p>
                <p><strong>Material del producto:</strong> {{ this.currentProduct?.material}} </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
